
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.contenedor{
    width:85vw;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: rgb(128, 128, 241);
    color: white;
    height: 80px;
    margin-bottom: 10px;
}

.logo{
    margin-top: 30px;
}

.logo a{
    color: white;
    text-decoration: none;
}

.navbar{
    background-color: rgb(61, 61, 182);
    color: white;
}

.navbar ul{
    list-style-type: none;
    text-align: right;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 20px;
    padding: 10px;
}

.navbar ul li a:hover{
    background-color: white;
    color: blue; 
}

.destacado, .normal{
    background: white;
    padding: 0.7em;
}

.destacado{
    margin-bottom: 0.6em;
}

.normal{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 500px;
}

.imaNota img{
    width: 100%;
}

.cortarFloat{
    clear: both;
}



